@model IEnumerable<ClasseCompra>
@using JojoFinancasApp.Models

<h1>
    Classes de Compra
</h1>

<div class="row">

    <div class="col-md-4">
        <a class="btn btn btn-success btn-sm mb-2" asp-action="Create">
            Adicionar classe
        </a>
    </div>

</div>

<div class="row">

    <table class="table table-hover table-row-bordered gy-5 gs-7 border rounded w-100" id="table" data-page-length='25'>
        <thead class="table-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>                
                <th style="width:80px"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Item in Model)
            {
                <tr>
                    <td>
                        @Html.HiddenFor(modelItem => Item.Id)
                        @Html.DisplayFor(modelItem => Item.Nome)
                    </td>                    
                    <td class="text-right">
                        <div class="d-flex justify-content-end">
                            <a asp-action="Edit" asp-route-id="@Item.Id" class="btn btn-warning me-2">
                                <spam class="fa fa-pencil-alt" data-toggle="tooltip" data-placement="right" title="Editar"></spam>
                            </a>
                            <a asp-action="Delete" asp-route-id="@Item.Id" class="delete btn btn-danger me-2">
                                <spam data-toggle="tooltip" data-placement="right" title="Deletar">
                                    <i class="fa fa-trash">
                                        <span class="path1"></span>
                                        <span class="path2"></span>
                                    </i>
                                </spam>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>